.footer {
  padding: 100px 20px;
  text-align: center;
  background: #111827;
  color: white;
}

.footer-content {
  max-width: 700px;
  margin: auto;
}

.finish-line {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.footer h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.footer p {
  color: #d1d5db;
  line-height: 1.8;
  margin-bottom: 15px;
}

.footer h3 {
  margin: 40px 0;
  color: #fff;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.footer-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 24px;
  text-decoration: none;
  border-radius: 50px;
  background: #7c3aed;
  color: white;
  transition: 0.3s;
}

.footer-btn:hover {
  transform: translateY(-4px);
}

.copyright {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #9ca3af;
}